<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-6 padding-both">
      <h3><%= t('.sign_up', :default => 'Sign up') %></h3>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %><br/>
          <%= f.email_field :email %></div>

        <div><%= f.label :name %><br/>
          <%= f.text_field :name %></div>

        <div><%= f.label :password %><br/>
          <%= f.password_field :password %></div>

        <div><%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation %></div>

        <div class="btn-default buffer-both"><%= f.submit t('.sign_up', :default => 'Sign up') %></div>
      <% end %>

      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
